/bundles/*
/bundles/repos/*
/bundles/repos/github.com/*
/bundles/repos/github.com/Shougo/*

!/bundles/repos
!/bundles/repos/github.com
!/bundles/repos/github.com/Shougo
!/bundles/repos/github.com/Shougo/dein.vim

# Mac
.DS_Store

# Temp
*~
*.tmp
.netrwhist

